[submodule "2 Curso de Redes Neuronales Convolucionales con Python y Keras"]
	path = 2 Curso de Redes Neuronales Convolucionales con Python y Keras
	url = https://github.com/Oliver369X/Ruta_deep_learning_platzi
[submodule "3 Curso de Transfer Learning con Hugging Face"]
	path = 3 Curso de Transfer Learning con Hugging Face
	url = https://github.com/Oliver369X/Ruta_deep_learning_platzi
[submodule "4 Curso de Redes Neuronales con PyTorch"]
	path = 4 Curso de Redes Neuronales con PyTorch
	url = https://github.com/Oliver369X/Ruta_deep_learning_platzi
[submodule "5 Curso de Experimentación en Machine Learning con Hugging Face"]
	path = 5 Curso de Experimentación en Machine Learning con Hugging Face
	url = https://github.com/Oliver369X/Ruta_deep_learning_platzi
[submodule "6 Curso Profesional de Redes Neuronales con TensorFlow"]
	path = 6 Curso Profesional de Redes Neuronales con TensorFlow
	url = https://github.com/Oliver369X/Ruta_deep_learning_platzi
[submodule "7 Curso de Detección y Segmentación de Objetos con TensorFlow"]
	path = 7 Curso de Detección y Segmentación de Objetos con TensorFlow
	url = https://github.com/Oliver369X/Ruta_deep_learning_platzi
[submodule "8 Curso Profesional de Computer Vision con TensorFlow"]
	path = 8 Curso Profesional de Computer Vision con TensorFlow
	url = https://github.com/Oliver369X/Ruta_deep_learning_platzi
[submodule "9 Curso de Fundamentos de Procesamiento de Lenguaje Natural con Python y NLTK"]
	path = 9 Curso de Fundamentos de Procesamiento de Lenguaje Natural con Python y NLTK
	url = https://github.com/Oliver369X/Ruta_deep_learning_platzi
[submodule "10 Curso de Algoritmos de Clasificación de Texto"]
	path = 10 Curso de Algoritmos de Clasificación de Texto
	url = https://github.com/Oliver369X/Ruta_deep_learning_platzi
